html,
body,
.bg-dark {
  color: #555;
}

.bg-white{
  background-color: #fff;
}

.bg-grey {
  background-color: #e7e7e7;
}

.bg-light-grey {
  background-color: #f7f7f7;
}

.bg-dark-default {
  background-color: #D7D7D7;
}

.text-white{
  color: #fff !important;
}
